<div class="header">
    <img src="../../../assets/img/NexsysLogo-_3_.png" />
    <hr />
</div>

<div class="productos">
    <h1 style="align-content: center">productos</h1>
    <div class="card" *ngFor="let product of listaProductos">
        <mat-card class="example-card">
            <mat-card-content>
                <img mat-card-image src="{{product.images[0]}}">
                <mat-card-title>{{product.title}} </mat-card-title>
                <p>{{product.description}}</p>
                <h3>${{product.price}}</h3>
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary" [routerLink]="'/producto/' + product.id">Ver Detalles</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>